{% extends 'base.html' %}
{% block content %}
    <h1>About Me</h1>
    <p>Welcome to my personal website!</p>
    <p>My name is Jesus, and I am a student at WT and am studying Computer Information Systems! I am very excited to be taking this course and further my technical knowledge. I have a great interest in technology, both hardware and software, and I am always happy to expand my knowledge on either area. I hope by the time that I graduate college, I have either an entry level technical job, preferably not in help desk and more tailored towards networking or system administration.</p>
    <p>Another thing about me is I love collecting Jujutsu Kaisen figures/statues. So far, I have about 50 collected and am losing space in my apartment pretty quick!</p>
{% endblock %}